{% load static wagtailuserbar staticfiles i18n menu_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/myblog.css" %}">

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% main_menu max_levels=3 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/main_menu.html" sub_menu_template="menus/sub_menu.html" %}
    <!--
    <div class="container">
      {#% block content %}{% endblock %#}
    </div>
    -->
    {% wagtailuserbar %}
    {% block content %}{% endblock %}

    <!-- ******FOOTER****** -->
    <footer class="footer">
      <div class="container">
        <small class="copyright">
          {% trans "Kim Wonjin © 2017. All Rights Reserved" %}
          <span class="separator">|</span>
          {% trans "Powered by" %}
          <a href="https://wagtail.io/" target="_blank">Wagtail</a>
          {% trans "and" %}
          <a href="http://www.djangoproject.com" target="_blank">Django</a>
          <span class="separator">|</span>
          {% trans "Designed with " %}
          <i class="fa fa-heart"></i>
          {% trans " by" %}
          <a href="http://themes.3rdwavemedia.com" target="_blank">3rd Wave Media</a>
          {% trans "for developers" %}
        </small>
      </div><!--//container-->
    </footer><!--//footer-->

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/myblog.js' %}"></script>

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
      
      <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
      <script src="{% static "tether-1.3.3/dist/js/tether.min.js" %}"></script>
      <!--
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      -->
      
      <!--
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
